scenarios/asset-management/rest/wadl/asset-management-2026-04-20.wadl

<?xml version="1.0" encoding="UTF-8"?>
<application
    xmlns="http://wadl.dev.java.net/2009/02"
    xmlns:xs="http://www.w3.org/2001/XMLSchema"
    xmlns:tns="http://schemas.example.com/assets/2026/01"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <doc title="Asset Management API">
    Enterprise asset management API for tracking physical assets, locations,
    categories, work orders, and audit records across the organisation.
  </doc>

  <grammars>
    <xs:schema
        targetNamespace="http://schemas.example.com/assets/2026/01"
        elementFormDefault="qualified"
        attributeFormDefault="unqualified">

      <!-- ── Enumerations ────────────────────────────────────────── -->

      <xs:simpleType name="AssetStatus">
        <xs:restriction base="xs:string">
          <xs:enumeration value="Active"/>
          <xs:enumeration value="InRepair"/>
          <xs:enumeration value="Reserved"/>
          <xs:enumeration value="Decommissioned"/>
          <xs:enumeration value="Disposed"/>
        </xs:restriction>
      </xs:simpleType>

      <xs:simpleType name="AssetCondition">
        <xs:restriction base="xs:string">
          <xs:enumeration value="New"/>
          <xs:enumeration value="Good"/>
          <xs:enumeration value="Fair"/>
          <xs:enumeration value="Poor"/>
          <xs:enumeration value="NonFunctional"/>
        </xs:restriction>
      </xs:simpleType>

      <xs:simpleType name="DepreciationMethod">
        <xs:restriction base="xs:string">
          <xs:enumeration value="StraightLine"/>
          <xs:enumeration value="DecliningBalance"/>
          <xs:enumeration value="SumOfYears"/>
        </xs:restriction>
      </xs:simpleType>

      <xs:simpleType name="LocationType">
        <xs:restriction base="xs:string">
          <xs:enumeration value="Building"/>
          <xs:enumeration value="Floor"/>
          <xs:enumeration value="Room"/>
          <xs:enumeration value="Warehouse"/>
          <xs:enumeration value="Yard"/>
          <xs:enumeration value="Remote"/>
        </xs:restriction>
      </xs:simpleType>

      <xs:simpleType name="WorkOrderType">
        <xs:restriction base="xs:string">
          <xs:enumeration value="Preventive"/>
          <xs:enumeration value="Corrective"/>
          <xs:enumeration value="Emergency"/>
          <xs:enumeration value="Inspection"/>
        </xs:restriction>
      </xs:simpleType>

      <xs:simpleType name="WorkOrderPriority">
        <xs:restriction base="xs:string">
          <xs:enumeration value="Critical"/>
          <xs:enumeration value="High"/>
          <xs:enumeration value="Medium"/>
          <xs:enumeration value="Low"/>
        </xs:restriction>
      </xs:simpleType>

      <xs:simpleType name="WorkOrderStatus">
        <xs:restriction base="xs:string">
          <xs:enumeration value="Open"/>
          <xs:enumeration value="Assigned"/>
          <xs:enumeration value="InProgress"/>
          <xs:enumeration value="OnHold"/>
          <xs:enumeration value="Completed"/>
          <xs:enumeration value="Cancelled"/>
        </xs:restriction>
      </xs:simpleType>

      <!-- ── Complex types ───────────────────────────────────────── -->

      <xs:complexType name="Address">
        <xs:sequence>
          <xs:element name="street" type="xs:string" minOccurs="0"/>
          <xs:element name="city" type="xs:string" minOccurs="0"/>
          <xs:element name="state" type="xs:string" minOccurs="0"/>
          <xs:element name="zipCode" type="xs:string" minOccurs="0"/>
          <xs:element name="country" type="xs:string" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="Error">
        <xs:sequence>
          <xs:element name="code" type="xs:string"/>
          <xs:element name="message" type="xs:string"/>
          <xs:element name="details" type="xs:string" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="Asset">
        <xs:sequence>
          <xs:element name="assetId" type="xs:string"/>
          <xs:element name="assetTag" type="xs:string"/>
          <xs:element name="serialNumber" type="xs:string" minOccurs="0"/>
          <xs:element name="name" type="xs:string"/>
          <xs:element name="description" type="xs:string" minOccurs="0"/>
          <xs:element name="categoryId" type="xs:string" minOccurs="0"/>
          <xs:element name="locationId" type="xs:string" minOccurs="0"/>
          <xs:element name="status" type="tns:AssetStatus"/>
          <xs:element name="condition" type="tns:AssetCondition"/>
          <xs:element name="acquisitionDate" type="xs:date" minOccurs="0"/>
          <xs:element name="acquisitionCost" type="xs:decimal" minOccurs="0"/>
          <xs:element name="currentValue" type="xs:decimal" minOccurs="0"/>
          <xs:element name="depreciationMethod" type="tns:DepreciationMethod" minOccurs="0"/>
          <xs:element name="usefulLifeMonths" type="xs:int" minOccurs="0"/>
          <xs:element name="warrantyExpiry" type="xs:date" minOccurs="0"/>
          <xs:element name="assignedTo" type="xs:string" minOccurs="0"/>
          <xs:element name="manufacturer" type="xs:string" minOccurs="0"/>
          <xs:element name="model" type="xs:string" minOccurs="0"/>
          <xs:element name="notes" type="xs:string" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="AssetList">
        <xs:sequence>
          <xs:element name="asset" type="tns:Asset" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="Category">
        <xs:sequence>
          <xs:element name="categoryId" type="xs:string"/>
          <xs:element name="name" type="xs:string"/>
          <xs:element name="description" type="xs:string" minOccurs="0"/>
          <xs:element name="parentCategoryId" type="xs:string" minOccurs="0"/>
          <xs:element name="createdUtc" type="xs:dateTime" minOccurs="0"/>
          <xs:element name="lastUpdatedUtc" type="xs:dateTime" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="CategoryList">
        <xs:sequence>
          <xs:element name="category" type="tns:Category" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="Location">
        <xs:sequence>
          <xs:element name="locationId" type="xs:string"/>
          <xs:element name="name" type="xs:string"/>
          <xs:element name="locationType" type="tns:LocationType"/>
          <xs:element name="parentLocationId" type="xs:string" minOccurs="0"/>
          <xs:element name="address" type="tns:Address" minOccurs="0"/>
          <xs:element name="latitude" type="xs:decimal" minOccurs="0"/>
          <xs:element name="longitude" type="xs:decimal" minOccurs="0"/>
          <xs:element name="createdUtc" type="xs:dateTime" minOccurs="0"/>
          <xs:element name="lastUpdatedUtc" type="xs:dateTime" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="LocationList">
        <xs:sequence>
          <xs:element name="location" type="tns:Location" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="WorkOrder">
        <xs:sequence>
          <xs:element name="workOrderId" type="xs:string"/>
          <xs:element name="workOrderNumber" type="xs:string" minOccurs="0"/>
          <xs:element name="assetId" type="xs:string"/>
          <xs:element name="type" type="tns:WorkOrderType"/>
          <xs:element name="priority" type="tns:WorkOrderPriority"/>
          <xs:element name="status" type="tns:WorkOrderStatus"/>
          <xs:element name="title" type="xs:string"/>
          <xs:element name="description" type="xs:string" minOccurs="0"/>
          <xs:element name="assignedTo" type="xs:string" minOccurs="0"/>
          <xs:element name="scheduledDate" type="xs:date" minOccurs="0"/>
          <xs:element name="completedDate" type="xs:date" minOccurs="0"/>
          <xs:element name="estimatedCost" type="xs:decimal" minOccurs="0"/>
          <xs:element name="actualCost" type="xs:decimal" minOccurs="0"/>
          <xs:element name="notes" type="xs:string" minOccurs="0"/>
          <xs:element name="createdUtc" type="xs:dateTime" minOccurs="0"/>
          <xs:element name="lastUpdatedUtc" type="xs:dateTime" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="WorkOrderList">
        <xs:sequence>
          <xs:element name="workOrder" type="tns:WorkOrder" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="Audit">
        <xs:sequence>
          <xs:element name="auditId" type="xs:string"/>
          <xs:element name="assetId" type="xs:string"/>
          <xs:element name="auditDate" type="xs:date"/>
          <xs:element name="auditor" type="xs:string"/>
          <xs:element name="conditionAtAudit" type="tns:AssetCondition"/>
          <xs:element name="locationVerified" type="xs:boolean" minOccurs="0"/>
          <xs:element name="findings" type="xs:string" minOccurs="0"/>
          <xs:element name="recommendations" type="xs:string" minOccurs="0"/>
          <xs:element name="createdUtc" type="xs:dateTime" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="AuditList">
        <xs:sequence>
          <xs:element name="audit" type="tns:Audit" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:complexType>

    </xs:schema>
  </grammars>

  <!-- ══════════════════════════════════════════════════════════════
       Resources
       ══════════════════════════════════════════════════════════════ -->

  <resources base="https://api.contoso.com/assets/v1">

    <!-- ── Assets ─────────────────────────────────────────────── -->

    <resource path="/assets">
      <method name="GET" id="listAssets">
        <doc>List assets with optional filters.</doc>
        <request>
          <param name="status" style="query" type="xs:string" required="false"/>
          <param name="categoryId" style="query" type="xs:string" required="false"/>
          <param name="locationId" style="query" type="xs:string" required="false"/>
          <param name="page" style="query" type="xs:int" required="false"/>
          <param name="pageSize" style="query" type="xs:int" required="false"/>
        </request>
        <response status="200">
          <representation mediaType="application/xml" element="tns:AssetList"/>
        </response>
        <response status="400">
          <representation mediaType="application/xml" element="tns:Error"/>
        </response>
      </method>

      <method name="POST" id="createAsset">
        <doc>Create a new asset.</doc>
        <request>
          <representation mediaType="application/xml" element="tns:Asset"/>
        </request>
        <response status="201">
          <representation mediaType="application/xml" element="tns:Asset"/>
        </response>
        <response status="400">
          <representation mediaType="application/xml" element="tns:Error"/>
        </response>
      </method>

      <resource path="/{assetId}">
        <param name="assetId" style="template" type="xs:string" required="true"/>

        <method name="GET" id="getAsset">
          <doc>Retrieve a single asset by identifier.</doc>
          <response status="200">
            <representation mediaType="application/xml" element="tns:Asset"/>
          </response>
          <response status="404">
            <representation mediaType="application/xml" element="tns:Error"/>
          </response>
        </method>

        <method name="PUT" id="updateAsset">
          <doc>Update an existing asset.</doc>
          <request>
            <representation mediaType="application/xml" element="tns:Asset"/>
          </request>
          <response status="200">
            <representation mediaType="application/xml" element="tns:Asset"/>
          </response>
          <response status="400 404">
            <representation mediaType="application/xml" element="tns:Error"/>
          </response>
        </method>

        <method name="DELETE" id="deleteAsset">
          <doc>Delete an asset.</doc>
          <response status="200"/>
          <response status="404">
            <representation mediaType="application/xml" element="tns:Error"/>
          </response>
        </method>
      </resource>
    </resource>

    <!-- ── Categories ─────────────────────────────────────────── -->

    <resource path="/categories">
      <method name="GET" id="listCategories">
        <doc>List asset categories.</doc>
        <request>
          <param name="page" style="query" type="xs:int" required="false"/>
          <param name="pageSize" style="query" type="xs:int" required="false"/>
        </request>
        <response status="200">
          <representation mediaType="application/xml" element="tns:CategoryList"/>
        </response>
        <response status="400">
          <representation mediaType="application/xml" element="tns:Error"/>
        </response>
      </method>

      <method name="POST" id="createCategory">
        <doc>Create a new category.</doc>
        <request>
          <representation mediaType="application/xml" element="tns:Category"/>
        </request>
        <response status="201">
          <representation mediaType="application/xml" element="tns:Category"/>
        </response>
        <response status="400">
          <representation mediaType="application/xml" element="tns:Error"/>
        </response>
      </method>

      <resource path="/{categoryId}">
        <param name="categoryId" style="template" type="xs:string" required="true"/>

        <method name="GET" id="getCategory">
          <doc>Retrieve a single category.</doc>
          <response status="200">
            <representation mediaType="application/xml" element="tns:Category"/>
          </response>
          <response status="404">
            <representation mediaType="application/xml" element="tns:Error"/>
          </response>
        </method>

        <method name="PUT" id="updateCategory">
          <doc>Update an existing category.</doc>
          <request>
            <representation mediaType="application/xml" element="tns:Category"/>
          </request>
          <response status="200">
            <representation mediaType="application/xml" element="tns:Category"/>
          </response>
          <response status="400 404">
            <representation mediaType="application/xml" element="tns:Error"/>
          </response>
        </method>

        <method name="DELETE" id="deleteCategory">
          <doc>Delete a category.</doc>
          <response status="200"/>
          <response status="404">
            <representation mediaType="application/xml" element="tns:Error"/>
          </response>
        </method>
      </resource>
    </resource>

    <!-- ── Locations ──────────────────────────────────────────── -->

    <resource path="/locations">
      <method name="GET" id="listLocations">
        <doc>List locations with optional type filter.</doc>
        <request>
          <param name="locationType" style="query" type="xs:string" required="false"/>
          <param name="page" style="query" type="xs:int" required="false"/>
          <param name="pageSize" style="query" type="xs:int" required="false"/>
        </request>
        <response status="200">
          <representation mediaType="application/xml" element="tns:LocationList"/>
        </response>
        <response status="400">
          <representation mediaType="application/xml" element="tns:Error"/>
        </response>
      </method>

      <method name="POST" id="createLocation">
        <doc>Create a new location.</doc>
        <request>
          <representation mediaType="application/xml" element="tns:Location"/>
        </request>
        <response status="201">
          <representation mediaType="application/xml" element="tns:Location"/>
        </response>
        <response status="400">
          <representation mediaType="application/xml" element="tns:Error"/>
        </response>
      </method>

      <resource path="/{locationId}">
        <param name="locationId" style="template" type="xs:string" required="true"/>

        <method name="GET" id="getLocation">
          <doc>Retrieve a single location.</doc>
          <response status="200">
            <representation mediaType="application/xml" element="tns:Location"/>
          </response>
          <response status="404">
            <representation mediaType="application/xml" element="tns:Error"/>
          </response>
        </method>

        <method name="PUT" id="updateLocation">
          <doc>Update an existing location.</doc>
          <request>
            <representation mediaType="application/xml" element="tns:Location"/>
          </request>
          <response status="200">
            <representation mediaType="application/xml" element="tns:Location"/>
          </response>
          <response status="400 404">
            <representation mediaType="application/xml" element="tns:Error"/>
          </response>
        </method>
      </resource>
    </resource>

    <!-- ── Work Orders ────────────────────────────────────────── -->

    <resource path="/work-orders">
      <method name="GET" id="listWorkOrders">
        <doc>List work orders with optional filters.</doc>
        <request>
          <param name="assetId" style="query" type="xs:string" required="false"/>
          <param name="status" style="query" type="xs:string" required="false"/>
          <param name="priority" style="query" type="xs:string" required="false"/>
          <param name="page" style="query" type="xs:int" required="false"/>
          <param name="pageSize" style="query" type="xs:int" required="false"/>
        </request>
        <response status="200">
          <representation mediaType="application/xml" element="tns:WorkOrderList"/>
        </response>
        <response status="400">
          <representation mediaType="application/xml" element="tns:Error"/>
        </response>
      </method>

      <method name="POST" id="createWorkOrder">
        <doc>Create a new work order.</doc>
        <request>
          <representation mediaType="application/xml" element="tns:WorkOrder"/>
        </request>
        <response status="201">
          <representation mediaType="application/xml" element="tns:WorkOrder"/>
        </response>
        <response status="400">
          <representation mediaType="application/xml" element="tns:Error"/>
        </response>
      </method>

      <resource path="/{workOrderId}">
        <param name="workOrderId" style="template" type="xs:string" required="true"/>

        <method name="GET" id="getWorkOrder">
          <doc>Retrieve a single work order.</doc>
          <response status="200">
            <representation mediaType="application/xml" element="tns:WorkOrder"/>
          </response>
          <response status="404">
            <representation mediaType="application/xml" element="tns:Error"/>
          </response>
        </method>

        <method name="PUT" id="updateWorkOrder">
          <doc>Update an existing work order.</doc>
          <request>
            <representation mediaType="application/xml" element="tns:WorkOrder"/>
          </request>
          <response status="200">
            <representation mediaType="application/xml" element="tns:WorkOrder"/>
          </response>
          <response status="400 404">
            <representation mediaType="application/xml" element="tns:Error"/>
          </response>
        </method>
      </resource>
    </resource>

    <!-- ── Audits ─────────────────────────────────────────────── -->

    <resource path="/audits">
      <method name="GET" id="listAudits">
        <doc>List audit records with optional asset filter.</doc>
        <request>
          <param name="assetId" style="query" type="xs:string" required="false"/>
          <param name="page" style="query" type="xs:int" required="false"/>
          <param name="pageSize" style="query" type="xs:int" required="false"/>
        </request>
        <response status="200">
          <representation mediaType="application/xml" element="tns:AuditList"/>
        </response>
        <response status="400">
          <representation mediaType="application/xml" element="tns:Error"/>
        </response>
      </method>

      <method name="POST" id="createAudit">
        <doc>Record a new asset audit.</doc>
        <request>
          <representation mediaType="application/xml" element="tns:Audit"/>
        </request>
        <response status="201">
          <representation mediaType="application/xml" element="tns:Audit"/>
        </response>
        <response status="400">
          <representation mediaType="application/xml" element="tns:Error"/>
        </response>
      </method>

      <resource path="/{auditId}">
        <param name="auditId" style="template" type="xs:string" required="true"/>

        <method name="GET" id="getAudit">
          <doc>Retrieve a single audit record.</doc>
          <response status="200">
            <representation mediaType="application/xml" element="tns:Audit"/>
          </response>
          <response status="404">
            <representation mediaType="application/xml" element="tns:Error"/>
          </response>
        </method>
      </resource>
    </resource>

  </resources>

</application>
